@model IEnumerable<Bando_de_Dados_Elton.Models.CondominioViewModel>

@{
    ViewData["Title"] = "Listagem de Condominios";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id_Condominio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome_do_Condomínio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereço_do_Condomínio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Liderança_Elton)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereço_da_Liderança)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone_Liderança)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aniversário)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unidades_Habitacionais)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Histórico_de_Serviços)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id_Condominio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome_do_Condomínio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Endereço_do_Condomínio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Liderança_Elton)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Endereço_da_Liderança)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefone_Liderança)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Aniversário)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Unidades_Habitacionais)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Histórico_de_Serviços)
                </td>
                <td>
                    <a asp-action="Alterar_Condominio" asp-route-id="@item.Id_Condominio">Editar</a>
                    <a asp-action="Excluir_Condominio" asp-route-id="@item.Id_Condominio">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a asp-action="Inserir_Condominio">Cadastrar</a>
</p>

